$primary-color: #056094;
.wrapper {
}
// .topPost {
//     width: 300px;
// }
.title {
    font-size: 16px;
    text-transform: uppercase;
    background-color: $primary-color;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    margin-top: 20px;
}
.post {
    border: 1px solid lightgrey;
    border-top: none;
    padding: 10px;
    line-height: 30px;
    cursor: pointer;
    &:hover {
        color: $primary-color
    }
    user-select: none;
}
.extraContent {
    border: 1px solid lightgrey;
    border-top: none;
    padding: 10px;
}