$primary-color: #056094;
.wrapper {
    padding: 10px;
    border: 1px solid lightgrey;
}
.title {
    color: #cc0000;
    font-size: 3em;
    font-weight: normal;
    font-family: 'Open Sans Condensed',Helvetica,sans-serif;
    text-transform: uppercase;text-align: center;
    margin-top: 30px;
    line-height: 1.5em;
}
.field {
    margin-top: 20px;
    text-transform: uppercase;
    p {
        font-weight: bold;
    }
    input {
        width: 100%;
        outline: none;
        padding: 10px;
        border: none;
        box-shadow:  0px 0px 3px 0px lightgrey;
    }
    select {
        width: 100%;
        outline: none;
        padding: 10px;
        border: none;
        box-shadow:  0px 0px 3px 0px lightgrey;
        text-transform: uppercase;
        option {
            text-transform: uppercase;
        }
    }
    span {
        color: red;
    }
}
.button {
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    background-color: #4779ca;
    margin-top: 20px;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: #4770b3;
    }
}